:root {
  --defaultback:  white;
  --navbar: #566573;
}


body, header {
  background-color: var(--defaultback);
  font-family: 'Source Code Pro', monospace;
}


.card {
  height: 300px;
  width: 250px;
  font-size: 2em;
  color: white;
  border-radius: 1em;
  padding: 1em;
}
.card:hover {
  transform: rotate(0);

}

.card h1 {
  margin: 0;
  font-size: 90%;
  line-height: 1.2em;
}

canvas {
  border-radius: 20px;
}

.container {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 100px;
  padding: 1em;



  justify-items: center;

}

.logo {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.navbar-order {
  width: 100%;
  margin-right: 0;
  color: var(--navbar);
}
