/* TODO: for some reason codepen when you resize the cards automatically get smaller but this does not work in regular html/css need to find out a way to have cards
wrap around screen when in smaller formats such as mobile. IE mobile first design */

/* boilerplate */
:root {
  --background-color: #222831;
  --text-color: #eeeeee;
  --text-color-two: #ffd369;

}

*, *::before, *::after {
  box-sizing: border-box;
}

ul, li {
  list-style: none;
  padding: 0px;

}

a {
  text-decoration: none;
  color: var(--text-color);

}

a:hover {
  color: var(--text-color-two);

}

/* end boilerplate */


.container {
    max-width: 960px;
    margin: 35px auto;
    text-align: left;
    

}

body {
  background: var(--background-color);
  font-size: 1em;
  font-family: 'Varela Round', sans-serif;
  margin: 0px;
 }

h1 {
  font-size: 2.5em;
  color: var(--text-color-two)  ;
  /*TODO change color it bad*/
  padding: 0px;
  margin: 0px;

}

/* TODO: https://css-tricks.com/using-svg/ */
h2 {
  font-size: 1.5em;
  color: var(--text-color-two);
  padding: 1em 0;
  margin: 0px;
  
}

li > a {
  float: left;
  padding-right: 5px;
  padding-left: 5px;

}

#start > a {
  padding-left: 0px;

}

.button {
    box-sizing: border-box;
    background-color: initial;
    border: 0;
    border-radius: 0;
    box-shadow: inset 0 0 0 2px #fff;
    color: var(--text-color);
    cursor: pointer;
    display: inline-block;
    font-size: .8em;
    font-weight: 600;
    height: 3.5em;
    letter-spacing: .25em;
    line-height: 3.5em;
    padding: 0 1.75em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
}

.form-control {
    display: block;
    width: 100%;
    max-width: 960px;
    height: calc(1em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--background-color);
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid var(--background-color);
    border-radius: .25rem;
    margin: 0 auto;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

}

/* cards */

.card-container {
    max-width: 960px;
    text-align: left;

}

.card-container div {
  display: inline-block;
}

.card-container > div {
  margin: 20px 1em;
  text-align: left;
}

.basic-card {
    width:280px;
    position: relative;
    margin: 20px;
    background-image: linear-gradient(to bottom right, #ffe4a5, #ffd369 );
    
    -webkit-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 10px 10px 0px  rgba(0,0,0,0.3);
    -o-box-shadow: 0px 10px 10px 0px  rgba(0,0,0,0.3);
    box-shadow: 0px 10px 10px 0px  rgba(0,0,0,0.3);
}

.card-content{
  padding: 30px;
}
.card-title{

}
.card-text{
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 4em;
}
.card-link{
  width: -webkit-fill-available;
  width: -moz-available;
  border-top: 1px solid var(--background-color);
  padding: 25px;

}

.card-link a {
  color: var(--background-color);

}

.basic-card .card-link a:after {
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  width: 0;
  background: var(--background-color);


  -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  -moz-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  -o-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;

}

.basic-card .card-link a:hover:after {
  width: 5rem; 
  left: 22px; 
}





/* end cards */

ul > span, p {
  color: var(--background-color);

}


.seeQues {
  cursor: pointer;
  color: #fff;
  padding: 3px 6px;
  transition: color 0.6s ease;
  text-align: center;
  margin-bottom: 7px;
}

.token-body:hover .seeQues {
  background-color: var(--text-color-two);
  color: var(--text-color);

  
} /* remove this weird rectangle in middle of card */

.token-body:hover .ripple {
  width: 0;
  height: 0;
  border-radius: 50%;
  background: var(--text-color-two);
  transform: scale(0);
  position: relative;
  opacity: 0.7;
  overflow: hidden;
}

.rippleEffect {
  animation: rippleDrop 0.6s linear;
  overflow: hidden;
}
/*TODO: ugh.. heres the parallax  (do the parallax)*/

/*TODO: much later will need to force css refresh https://stackoverflow.com/questions/2263096/css-file-not-refreshing-in-browser */











