:root {
  --defaultback:  #323c41;
}


body {
  background-color: var(--defaultback);
  font-family: 'Source Code Pro', monospace;
}


.card {
  height: 300px;
  width: 250px;
  font-size: 2em;
  color: white;
  border-radius: 1em;
  padding: 1em;
}
.card:hover {
  transform: rotate(0);

}

.card h1 {
  margin: 0;
  font-size: 90%;
  line-height: 1.2em;
}


.container{
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-gap:100px;
}

.sketch-holder{
  
}
